<div class="pageGamesList">
    <app-navbar></app-navbar>

    <div class="ListaGamesTitulo">
        <h1>Lista de juegos</h1> 
        <button class="btn btn-primary" (click)="filtrar = !filtrar">Filtrar</button>
    </div>

    <div class="filter"  *ngIf="filtrar">
        <div class="select">
            <label for="Plataforma">Plataforma</label>
            <select class="form-select form-select-sm" aria-label="Default select example" (change)="capturar()" [(ngModel)]="plataforma">
                <option selected>Plataforma</option>
                <option value="pc">Pc</option>
                <option value="browser">Browser</option>
                <option value="all">All</option>
            </select>
        </div>
        <div class="select ">
            <label for="Genero">Genero</label>
            <select class="form-select form-select-sm "  (change)="capturar()" [(ngModel)]="genero">
                <option selected>Categoria</option>
                <option value="anime">Anime</option>
                <option value="strategy">Strategy</option>
                <option value="shooter">Shooter</option>
                <option value="sci-fi">Sci-Fi</option>
                <option value="racing">Racing</option>
                <option value="social">Social</option>
                <option value="sports">Sports</option>
                <option value="moba">Moba</option>
                <option value="sandbox">SandBox</option>
                <option value="open-world">Open world</option>
                <option value="pvp">Pvp</option>
                <option value="mmorpg">Mmorpg</option>
                <option value="fantasy">Fantasy</option>
                <option value="voxel">Voxel</option>
                <option value="pixel">Pixel</option>
            </select>
        </div>
        
        <div class="select">
            <label for="order">Ordenar por:</label>
            <select class="form-select form-select-sm" (change)="capturar()" [(ngModel)]="orden">
                <option selected>Orden</option>
                <option value="release-date">Release-date</option>
                <option value="alphabetical">Alphabetical</option>
                <option value="popularity<">Popularity</option>
            </select>
        
        </div>
    </div>
    
    <div class="list">
        <ul class="listaGames">
            <li *ngFor="let game of Games" class="gameItem" [routerLink]="['/game/'+game.id]">
                <img src="{{game.thumbnail}}" >
                <h3 class="titleGame">{{game.title}}</h3>
            </li>
        </ul>
    </div>
</div>
