.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  margin: 15px 20px;
  box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
}
.gameImg{
  border-radius: 10px;
  width: 98%;
  box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
  
}
.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px;
  text-decoration: none;
  
}

  * {
    scrollbar-width:thin;
    scrollbar-color: #2b2d53 #374649;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(32, 32, 32);;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #14152b;
    border-radius: 10px;
    border: 2px outset #353131;
  }