<div>
  <app-navbar></app-navbar>

  <div class="top">
    <img src="" alt="">
    <h1>Encuentra los mejores juegos Free to play</h1>
    <h2>Mas de 500 juegos de diversos generos</h2>
  </div>

  <div class="recent">
    <div *ngFor="let game of GamesRecent" class="elementRecent" [routerLink]="['/game/'+game.id]">
      <img src="{{game.thumbnail}}" alt="">
      <h3>{{game.title}}</h3>
    </div>
  </div>

  <hr>
  <div class="categorias">
    <div class="catSeccion">
      <h3>Mejores Exploracion</h3>
      <div>
        <app-slider-juegos [ArrayGames]="ExploracionGames"></app-slider-juegos>
      </div>
    </div>
    <div class="catSeccion">
      <h3>Mejores Fps</h3>
      <div>
        <app-slider-juegos [ArrayGames]="FpsGames"></app-slider-juegos>
      </div>
    </div>
    <div class="catSeccion">
      <h3>Populares en Windows</h3>
      <div>
        <app-slider-juegos [ArrayGames]="WindowsGames"></app-slider-juegos>
      </div>
    </div>

  </div>
</div>